.section1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 50%, #ec38bc 100%);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
}

.section2 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 100vh;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    background-color: #262626;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #444;
    font-size: 2rem;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #555;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    width: 200px; /* Fixed width for the controls */
    margin-left: 80px; /* Space between grid and controls */
}

.message {
    width: 85%; /* Take full width of the parent */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some margin below the message */
    height: 24px; /* Fixed height to prevent resizing */
    overflow: hidden; /* Hide overflow text */
}

.direction-buttons {
    display: grid;
    grid-template-areas:
        ". up ."
        "left . right"
        ". down .";
    gap: 10px;
}

.direction-buttons button {
    width: 50px;
    height: 50px;
    background-color: #888; /* Light gray background */
    border: 2px solid #ccc; /* Lighter border */
    border-radius: 5px;
    color: #fff; /* White text */
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.direction-buttons button:hover {
    background-color: #555; /* Darker background on hover */
    transform: scale(1.1); /* Slightly enlarge button on hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* More pronounced shadow on hover */
}

